@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap');

* {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
}

h1 {
	background-color: #ffffff;
}

h2 {
	background-color: #ffffff;
}

p {
	background-color: #ffffff;
}

li {
	background-color: #ffffff;
	color: #1c1c1c
}

a {
	background-color: #ffffff;
	text-decoration: none;
}

.textBody {
    background-color: #ffffff;
    color: #00181d;
    padding: 100px;
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 0 0 6px 6px;
}

.pText {
	background-color: #ffffff;
    max-width: 400px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    font-size: 2em;
    background-color: #e6a21c;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	transition-duration: 0.2s;
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	border-radius: 5px;
	font-size: 2em;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	background-color: #fefefe;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	background-color: #fefefe;
	cursor: pointer;
  }

.links {
    list-style: none;
    background-color: #e6a21c;
}

.links li {
    display: inline-block;
    padding: 0 20px;
    background-color: #e6a21c;
    
}

.links li a {
    transition: all 0.3s ease 0s;
    color: #ffffff;
    text-decoration: none;
    background-color: #e6a21c;
    
}

.links li a:hover {
    color: #46a652;
}

.cardHolder {
    display: felx;
    justify-content: center;
    flex-direction: column;
}

.card {
    background-color: #fff;
	border-radius: 4px;
	max-width: 400px;
	margin: 10% auto;
	max-height: 400px;
	position: relative;
	padding: 34px;
	color: #444;
	cursor: pointer;
	&:before {
		content: '';
		display: block;
		position: absolute;
		background-color: #ccc;
		left: 20px;
		right: 20px;
		bottom: 0;
		top: 50%;
		z-index: -1;
		box-shadow: 0 0 40px lighten(#000, 60%);
		transition: box-shadow .2s ease-in-out;
	}
	&.level-3 {
		&:hover {
			&:before {
				box-shadow: 0 0 80px lighten(#000, 60%);
			}
		}
	}
	
}