@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap');

* {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    font-size: 2em;
    background-color: #e6a21c;
}

.links {
    list-style: none;
    background-color: #e6a21c;
}

.links li {
    display: inline-block;
    padding: 0 20px;
    background-color: #e6a21c;
    
}

.links li a {
    transition: all 0.3s ease 0s;
    color: #ffffff;
    text-decoration: none;
    background-color: #e6a21c;
    
}

.links li a:hover {
    color: #46a652;
}


p {
    color: white;
    text-align: center;
}

.cardHolder {
    display: felx;
    justify-content: center;
    flex-direction: column;
}

.card {
    background-color: #fff;
	border-radius: 4px;
	max-width: 400px;
	margin: 10% auto;
	height: 100px;
	position: relative;
	padding: 34px;
	color: #444;
	cursor: pointer;
	&:before {
		content: '';
		display: block;
		position: absolute;
		background-color: #ccc;
		left: 20px;
		right: 20px;
		bottom: 0;
		top: 50%;
		z-index: -1;
		box-shadow: 0 0 40px lighten(#000, 60%);
		transition: box-shadow .2s ease-in-out;
	}
	&.level-3 {
		&:hover {
			&:before {
				box-shadow: 0 0 80px lighten(#000, 60%);
			}
		}
	}
	h5 {
		font-weight: 300;
		font-size: 30px;
	}
}